@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

:root{
    --primary-orange: #FF8A38;
    --primary-white: #F4F4F4;
    --primary-grey:#575757;
    --background-white: #E5E5E5;
}

@font-face {
	font-family: 'narutoFont';
	src: url('assets/fonts/go3v2.ttf'); 
	src: 
		local('Naruto Font'),
		local('Naruto-Font'),
		url('assets/fonts/go3v2.ttf') 
		format('truetype');
}

* {
    margin:0;
    padding: 0;
    outline:0;
    list-style: none;
}

.home {
    height: 100vh;
    background-image: url('assets/imgs/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-orange {
    color: var(--primary-orange);
}

.color-white {
    color: var(--primary-white);
}

.color-gray {
    color: var(--primary-grey);
}

.font-naruto {
    font-family: 'narutoFont';
}

.font-secondary {
    font-family: 'Source Sans Pro', sans-serif;
}

.title-1{
    font-size: 92px;
}

.title-2{
    font-size: 72px;
}

.title-3{
    font-size: 32px;
}

.session-flex-jc-end {
    height: 100vh;
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-bottom: 30px;
}

.session-two-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 100px;
}
.session-two-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img-session {
    width: 530px;
}
.text-box {
    width: 500px;
    text-align: justify;
}

.session-flex-jc-start {
    height: 100vh;
    background-color: var(--background-white);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-bottom: 30px;
}

.session-three-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-three-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 100px;
}

.session-shinra-tensei {
    height: 100vh;
    background-image: url('assets/imgs/bg-shinra-tensei.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-rasengan-final {
    height: 100vh;
    background-image: url('assets/imgs/bg-pain.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.session-konoha-hero { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/imgs/bg-heroi-de-konoha.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#arrow,
#arrow:before {
    position: absolute;
    left: 50%;
    cursor: pointer;
}

#arrow {
    width: 40px;
    height: 40px;
    top: 90%;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}

#arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
            opacity: 1;
    }
    100% {
            opacity: 0;
	    transform: translate(-10px, -10px);
    }
}
