:root{
    --primary-orange: #FF8A38;
    --primary-white: #F4F4F4;
}

@font-face {
	font-family: 'narutoFont';
	src: url('assets/fonts/go3v2.ttf'); 
	src: 
		local('Naruto Font'),
		local('Naruto-Font'),
		url('assets/fonts/go3v2.ttf') 
		format('truetype');
}

* {
    margin:0;
    padding: 0;
    outline:0;
    list-style: none;
}

.home{
    height: 100vh;
    background-image: url('assets/imgs/bg-home.jpg');
}


