@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

:root{
    --primary-orange: #FF8A38;
    --primary-white: #F4F4F4;
    --primary-grey:#575757;
}

@font-face {
	font-family: 'narutoFont';
	src: url('assets/fonts/go3v2.ttf'); 
	src: 
		local('Naruto Font'),
		local('Naruto-Font'),
		url('assets/fonts/go3v2.ttf') 
		format('truetype');
}

* {
    margin:0;
    padding: 0;
    outline:0;
    list-style: none;
}

.home {
    height: 100vh;
    background-image: url('assets/imgs/bg-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-orange {
    color: var(--primary-orange);
}

.color-white {
    color: var(--primary-white);
}

.color-gray {
    color: var(--primary-grey);
}

.font-naruto {
    font-family: 'narutoFont';
}

.font-secondary {
    font-family: 'Source Sans Pro', sans-serif;
}

.title-1{
    font-size: 92px;
}

.title-3{
    font-size: 32px;
}

.session-two {
    height: 100vh;
    background-color: var(--primary-white);
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.session-two-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.session-two-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.img-session-two-right {
    right: 0;
}

.text-left {
    width: 500px;
    text-align: justify;
}